@mixin icon1 {
    content: '';
    background-color: $brown1;
    width: 60px;
    height: 2px;
    position: absolute;
    transition: 0.7s;
    top: 235px;
}

@mixin icon2 {
    content: '';
    background-color: $brown1;
    width: 60px;
    height: 2px;
    position: absolute;
    transition: 0.7s;
    top: 490px;
}

@mixin icon3 {
    content: '';
    background-color: $brown1;
    width: 60px;
    height: 2px;
    position: absolute;
    transition: 0.7s;
    bottom: 95px;
}

@mixin icon1Hover {
    top: 318px;
    transition: 0.7s;
}

@mixin icon2Hover {
    top: 570px;
    transition: 0.7s;
}

@mixin icon3Hover {
    bottom: 10px;
    transition: 0.7s;
}

@mixin title {
    color: $brown1;
    font-size: $XLareg;
    width: 100%;
    display: inline-block;
    text-align: center;
}

@mixin flexbox {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

@mixin animation {
    padding-left: 10px;
    border-bottom: 1px solid #663300;
    border-left: 1px solid #663300;
    --c: no-repeat linear-gradient(#663300 0 0);
    background:
        var(--c) calc(-100% + var(--i, 0) * 100%) 100% / 50% calc(100% * var(--i, 0) + .08em),
        var(--c) calc(200% - var(--i, 0) * 100%) 0 / 50% calc(100% * var(--i, 0) + .08em);
    transition: .3s calc(var(--i, 0) * .3s), background-position .3s calc(.3s - var(--i, 0) * .3s);
}